@media (max-width: 767px) {
    .box {
        height: 100px;
    }
    
    .service-icon {
        width: 40px;
        height: 40px;
        opacity: 0.15;
    }

    .box-header {
        top: 40%;
        font-size: 1.5rem;
    }

    .box-text {
        display: none;
    }

    .card-bg {
        height: 200px;
    }

    .contact-inner {
        max-width: 100%;
    }
}