/* document styling */
html {
  font-size: 62.5%;
}


/* common elements */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a:hover {
  text-decoration: none;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.overlay-light {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay-medium {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-dark {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}


/* formatting */
.no-margin {
  margin: 0;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb4 {
  margin-bottom: 40px;
}

.mb5 {
  margin-bottom: 50px;
}


/* typography */
.orbitron-4 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
}

.orbitron-5 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}

.orbitron-7 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

.raleway-4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.raleway-6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6, ul {
  margin-bottom: 0;
  letter-spacing: 1.6px;
}

p {
  font-size: 1.4rem;
  letter-spacing: 1.4px;
}

.section-header {
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.default-text {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.yellow {
  color: #f9cd48;
  transition: 0.3s;
}

.white {
  color: #fff;
}

.hover-white:hover {
  color: #fff;
}


/* navigation */
.desktop-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 30px;
  background-color: rgba(0, 0, 0, 0.60);
  transition: 0.4s;
  z-index: 100;
}

.inner-menu {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  transition: 0.4s;
}

nav ul {
  display: flex;
  padding-inline-start: 0;
  list-style-type: none;
}

nav ul li {
  margin-right: 6px;
}

.brand {
  font-size: 3.5rem;
  color: #ecdfe7;
  font-weight: 700;
  text-shadow: 3px 3px 1px #212529;
  transition: 0.4s;
}

.brand:hover {
  color: #ecdfe7;
}

.nav-link {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #ecdfe7;
  text-shadow: 3px 3px 1px #212529;
  letter-spacing: 0.6px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #f9cd48;
}

.mobile-navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  padding-left: 10px;
  z-index: 100;
}

.mobile-brand {
  font-size: 2.4rem;
}

.nav-menu {
  position: fixed;
  top: 60px;
  left: -300px;
  /* left: 0; */
  height: 100vh;
  width: 300px;
  padding: 20px 0;
  background-color: #e9ecef;
  transition: 0.3s;
  z-index: 90;
}

.link-list {
  list-style-type: none;
}

.link-list-item {
  margin-bottom: 8px;
}

.link {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #343a40;
  transition: 0.3s;
}

.link:hover {
  color: #f9cd48;
}



/* hero */
.hero-container {
  background-image: url("../img/wallhaven-634721.jpg");
  height: 100vh;
}

.hero-caption {
  position: absolute;
  bottom: 32%;
  right: 13%;
  color: #fff;
  font-weight: 400;
}

.gallery-btn {
  width: 180px;
  font-size: 1.8rem;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid white;
  transform: 0.3s;
}

.gallery-btn:hover {
  background-color: #ecdfe7;
  color: #000;
}


/* about */
.about {
  min-height: 600px;
  padding: 100px 0 50px;
}

.about-header {
  font-size: 3rem;
}


/* services */
.services {
  height: 950px;
  background-image: url("../img/gt86_crop.jpg");
}

.services-inner {
  padding: 110px 0 0;
}

.services-header {
  color: #ecdfe7;
  text-shadow: 3px 3px 1px #212529;
}

.button-row {
  text-align: center;
  margin-bottom: 40px;
}

.tab {
  min-width: 110px;
  padding: 7px 0;
  color: white;
  border: 1px solid #fff;
  letter-spacing: 1.3px;
}

.tab-active {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}

.service-row {
  position: absolute;
  left: 10%;
  right: 10%;
  max-width: 1500px;
  margin: 0 auto 20px;
}

.front {
  z-index: 10;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 160px;
  padding: 15px 5px;
  border: 3px solid #000;
  text-align: center;
  transition: 0.3s;
}

.engine-box {
  background-color: #f9cd48;
}

.performance-box {
  background-color: #48e0f9;
}

.box-header {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  opacity: 1;
  transition: 0.3s;
}

.service-icon {
  transition: 0.3s;
}

.box-text {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  opacity: 0;
  transition: 0.3s;
}


/* process */
.process {
  min-height: 950px;
  padding: 100px 0 50px;
}

.card-bg {
  height: 270px;
}

.stage-one {
  background-image: url("../img/chad-kirchoff-202730-unsplash.jpg");
}

.stage-two {
  background-image: url("../img/tim-mossholder-212029-unsplash.jpg");
}

.stage-three {
  background-image: url("../img/john-volante-416896-unsplash.jpg");
}

.card {
  margin-bottom: 30px;
}

.card-header {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  color: #fff;
}

.card-text {
  padding: 20px;
  text-align: center;
}

.card-text p {
  margin-bottom: 30px;
}

.card-btn {
  min-width: 100px;
  height: 35px;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #f9cd48;
  transition: 0.3s;
}

.card-btn:hover {
  background-color: #000;
  color: #f9cd48;
}

.active {
  color: #f9cd48;
}


/* contact */
.contact {
  min-height: 550px;
  padding: 80px 0 20px;
  background-color: #131618;
}

.contact-inner {
  max-width: 70%;
  margin: 0 auto;
}

.contact-text {
  font-size: 1.2rem;
}

.tel-email {
  margin-right: 4px;
}

.icons {
  list-style-type: none;
  padding: 0;
}

.icons a {
  margin-right: 10px;
  font-size: 1.8rem;
}

.policies .white {
  margin: 0 6px;
}

.ig-col {
  padding-left: 9px;
  padding-right: 9px;
}

.ig-image {
  height: 90px;
}

.ig-image .overlay {
  transition: 0.3s;
}

#ig-image-1 {
  background-image: url("../img/Aimgain-StanceNation-Aero3.jpg");
}

#ig-image-2 {
  background-image: url("../img/scion-frs-custom-wallpaper-4.jpg");
}

#ig-image-3 {
  background-image: url("../img/brz_2_crop.jpg");
}

#ig-image-4 {
  background-image: url("../img/toyota-gt86-scion-fr-s-subaru-382.jpg");
}

#ig-image-5 {
  background-image: url("../img/toyota-gt86-toyota-tyuning-car.jpg");
}

#ig-image-6 {
  background-image: url("../img/dccb7f536aa0c8b2246a80a1cf287a81.jpg");
}

#ig-image-7 {
  background-image: url("../img/Aimgain-StanceNation-Aero.jpg");
}

#ig-image-8 {
  background-image: url("../img/gt86_crop.jpg");
}

#ig-image-9 {
  background-image: url("../img/john-volante-416896-unsplash.jpg");
}

