/* document styling */
html {
  font-size: 62.5%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.background-image {
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}


/* navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}


/* hero */
.hero-container {
  background-image: url("../img/gt86_blue.jpg");
  height: 100vh;
}