/* document styling */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Orbitron', sans-serif;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.background-image {
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

a:hover {
  text-decoration: none;
}


/* typography */
h1, h2, h3, h4, h5, h6, p, ul {
  margin-bottom: 0;
}



/* navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.64);
  z-index: 100;
}

.inner-menu {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  padding-inline-start: 0;
  list-style-type: none;
}

nav ul li {
  margin-right: 6px;
}

.brand {
  font-size: 4rem;
  color: #ecdfe7;
  letter-spacing: 1.5px;
}

.brand:hover {
  color: #ecdfe7;
}

.nav-link {
  font-size: 1.8rem;
  color: #ecdfe7;
  letter-spacing: 0.6px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #f9cd48;
}


/* hero */
.hero-container {
  background-image: url("../img/wallhaven-634721.jpg");
  height: 100vh;
}